header {background-color:#27AE60; text-align:center;}
h1 {color:#1E5631;}
#image1
{display: block;
margin-left: auto;
  margin-right: auto;
  max-width:20%;
}
body{background-color:#FAF9F6; margin-right:300px;
margin-left:300px;}

.subheading
{color:#27AE60; text-align:center;} /*green subheading*/
ol {color:#27AE60;text-align:center; width:200px; 
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
ol li {text-align:center;} /*colour of the list*/
ol li span{color:#000;font-weight:bold;}/*colour of the inline text*/
.list {background-color:#F0F0F0;  text-align:center; padding-bottom:22px;}
#hr2 {margin-top:0px;}
table {border:2px solid;  border-collapse: collapse; margin: auto;}
td {border-right:2px solid black; border-left: 2px solid black;}
td img { max-width:200px;}